.contactCard {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 300px;
}

li {
  background: #e6e0e9;
  border-radius: 16px;
  font-family: "Play", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: lexend, sans-serif;
}
